IF NOT EXISTS (SELECT 1 FROM sys.databases WHERE name='{DB_NAME}')
  CREATE DATABASE {DB_NAME};
GO

CREATE LOGIN {DB_USERNAME} WITH PASSWORD = '{DB_PASSWORD}';
GO

CREATE USER {DB_USERNAME} FOR LOGIN {DB_USERNAME};
GO

ALTER SERVER ROLE sysadmin ADD MEMBER [{DB_USERNAME}];
GO
